
<div class="row" style="margin-top: 20px;">
    <div class="col-2" style="border:1px solid lightgray;">
      <!-- <app-sidebar></app-sidebar> -->
    </div> 
    <div class="col-8" style="border:1px solid ">
      <div class="card-deck"  >
        <div class="card" style="background-color:#F5F5F5 " *ngFor="let producto of productos">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <img class="card-img-top d-sm-inline" src={{producto.imagen}} alt="Card image cap">
          <div class="card-body">
            <p class="card-text" style="min-height: 50px;">{{producto.descripcion}}</p>
            <small class="texto-precio" >$  {{producto.precio}} </small>
          </div>
          <div class="card-footer">
            <button (click)="AgregarAlCarro(producto)">Agregar al carro</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2" style="border:1px solid lightgray;">
      <app-carro></app-carro>
    </div>
  </div>

 
        