<div class="content" role="main">
    <div class="card" id="row-1802317388">
        <div class="card-body"><div class="col-inner">
        
          <div class="banner has-hover" id="banner-544967245">
                  <div class="banner-inner fill">
                <div class="banner-bg fill">
                    <div class="bg fill bg-fill  bg-loaded"></div>
                                            
                            </div><!-- bg-layers -->
                <div class="banner-layers container">
                    <div class="fill banner-link"></div>            
           <div id="text-box-1521807674" class="text-box banner-layer x50 md-x50 lg-x50 y5 md-y50 lg-y50 res-text">
                                        <div class="text dark">
                      
                      <div class="text-inner text-center">
                          
        <h4 class="uppercase"><img class="alignnonewp-image-206" src="assets/truck-solid.svg" alt="" width="60" height="55">&nbsp;&nbsp;<strong>Despacho</strong></h4>
        <p>Realizamos despachos en la región metropolitana.</p>
        <h4 style="text-align: center;">&nbsp;<img class="alignnonewp-image-207" src="assets/calendar-outline.svg" alt="" width="40" height="40" sizes="(max-width: 40px) 100vw, 40px"> HORARIOS</h4>
        <p>Los despachos son los días Sabados.</p>
        <h4 style="text-align: center;">&nbsp; COVERTURA</h4>
        <p>Providencia - Las Condes</p>
        <h4 style="text-align: center;">&nbsp;<img class="alignnonewp-image-207" src="assets/mobile-alt-solid.svg" alt="" width="40" height="40" sizes="(max-width: 40px) 100vw, 40px"> CASA MATRIZ</h4>
        <p style="text-align: center;">+56 9 9277 2657</p>
        <h4 style="text-align: center;">&nbsp;<img class="alignnonewp-image-207" src="assets/mail-outline.svg" alt="" width="40" height="40" sizes="(max-width: 40px) 100vw, 40px"> E-MAIL</h4>  
        <p style="text-align: center;"><a href="mailto:elpescadero@gmail.com" target="_blank" rel="noopener">elpescadero@gmail.com</a></p>                         
        <style scope="scope">
        
        #image_1253512801 {
          width: 31%;
        }
        </style>
            </div>
            
                      </div>
                   </div><!-- text-box-inner -->
                                    
        <style scope="scope">
        
        #text-box-1521807674 {
          width: 88%;
        }
        #text-box-1521807674 .text {
          font-size: 148%;
        }
        
        
        @media (min-width:550px) {
        
          #text-box-1521807674 {
            width: 85%;
          }
          #text-box-1521807674 .text {
            font-size: 192%;
          }
        
        }
        </style>
            </div><!-- text-box -->
         
                </div><!-- .banner-layers -->
              </div><!-- .banner-inner -->
        
                    
        <style scope="scope">
        
       
        
        
        @media (min-width: width 200px) {
        
          #banner-544967245 {
            padding-top: 200px;
          }
        
        }
        </style>
          </div><!-- .banner -->
        
        
     
       
        
          
</div>